header {
    color: white;
    background-image: linear-gradient(to right, rgb(122, 122, 236) , rgb(5, 5, 78));
}
#form {
    font-size: 24px;
}
#search {
}
#weather-container img {
    background-color: black;
}